body
{
color: white;
background: blue;

}

.heading
{
width: 80px;
font-size: 22px;
}
#camera
{
border :2px dashed black;
width: 350px;
height: 300px;
}

.name_of_objects,#result_object_name, #result_object_accurency
{
    color: brown;
}

span{
    margin-left: 200px;
}